*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"Montserrat-Regular" ;
    src: url(Montserrat-Regular.ttf);
}


body{
    overflow-x: hidden;
}

.navigation.scrolled{
    background-color: #836FFF;
    opacity: 0.98;
}

.navigation.scrolled .nav-bar a{
    color: white;
    font-size: 18px;
   
}
.navigation{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 100px 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2d3e50;
    color:white;
    height: 60px;
    transition: background-color 0.4s ease-in-out;
  

    p{
        font-size: 20px;
        font-weight: bold;
        font-family:"Montserrat-Regular";
        align-self: center;
        margin-bottom: 0;
      
    }

    a{
        color:white;
        font-size: 12px;
        margin-right: 30px;
        text-decoration: none;
        font-weight: bold;
        font-family:Montserrat-Regular;
        transition: color 0.4s ease-in-out;

    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;
        background-color: #845EC2;
    }

    
.overlay { 
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    right: 0px;
    top: 0;
    background-color:#435585; 
 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  

  span{
    margin: auto;
    margin-right: 35px;
  }
  
  .overlay-content {
    position: absolute;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
    
  }
  

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block; 
    transition: 0.3s; 
  }
  
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
}

// end navigation

// style banner
.banner{
    padding: 80px 0 70px 0;
    background-color:rgb(27,188,155);
      
   
.banner-text{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .line{
        width: 100px;
        border: 2px solid white;
        border-radius: 10px;
   
       
    
        
        
    }
    span{
        display: inline-block;
        margin: 5px;
        
    }
    .line2{
        width: 100px;
        border: 2px solid white;
        border-radius: 10px;
      
      

    }
    i{
        color: white;
        margin-bottom: 5px;
        padding:0 7px;
       
    }

    img{
      
        width: 100%;
        height:  35vh;
        margin-bottom: 15px;
     
    }

    
    h1{
        font-family:Montserrat-Regular ;
        color: white;
        font-size: 60px;
        font-weight: bolder;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
       
        
    }
    p{
        font-family:Montserrat-Regular ;
        color: white;
       
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        font-size: 24px;
      
    }

}

// end

// stype portfolio
.content{
   
    padding:  70px 100px;
   

    .line{
        width: 100px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        display: inline-block;
        margin:0 3px 10px 3px ;
        color: gray;
       
    }

    i{
        margin-bottom: 5px;
        padding:0 7px;
        
    }

    .line1{
        width:100px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        display: inline-block;
        margin:0 3px 10px 3px ;
        color: gray;
    
    }

    h2{
        padding-bottom: 5px;
        font-weight: bolder;
        font-family:Montserrat-Regular ;
    }
    img{
        width: 100%;
        height: 39vh;
        margin-top: 25px;
        border-radius: 3px;
    }
}

// end

// style ABOUT

.about{
   
    background-color:rgb(27,188,155);
    padding: 60px 40px 42px 40px;
    color: white;
    
.row{
    margin: 0px 340px;
    display: flex;
    justify-content: center;

    p{
        margin-bottom: 30px;
    }
}


// i{
//     padding: 10px;
// }
   .vovo{ 
    display: flex;  
    flex-direction: column;
      align-items: center;
      justify-content: center;
    
    h2{
        padding-bottom: 20px;
        text-align: center;
        font-family:Montserrat-Regular ;
    }
.self{
   display: flex;
   flex-direction: row;


    i{
    padding: 10px;
    position: relative;
    bottom: 24px;
   
}

.line{
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    height: 0;
    display: flex;
    

}
}
}

   .bq{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
   

     a{
        font-family:Montserrat-Regular ;
         background-color:rgb(27,188,155);
         color: white;
         text-decoration: none;
         padding: 12px 14px;
         border-radius: 5px;
         border: 1px white solid;
         


    }
    i{
        padding: 0 10px 0 0px;
   
    }
}

  
}

    // end
 
    // form

   

    .dev{
    padding: 0 100px 80px 100px;

    .button {
        
        text-decoration: none;
        margin-left: 15%;
      
     

        a{

            font-family:Montserrat-Regular ;
            text-decoration: none;
            padding: 10px ;
            font-size: 15px;
            color: white;
            background-color:rgb(27,188,155);
            border: none;
            border-radius: 5px;
        }
     } 

.form{
   
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:auto;
     

 
    
  .former{
    padding-bottom:90px 28px ;
  }
     

  
.form-control{
    padding: 14px;
    width: 100%;
    border-top:none;
    border-left: none ;
    border-right: none;
    border-bottom:1px 1px 2px black;
    color: #2d3e50;
    
}
    
 }

h2{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 46px;
    margin: 0;
    
}

.control{
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 10px;

   
.line{
    width: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    color:gray; 
   display: flex;
  
}

i{
    padding: 0 7px;
 
}

}

    }


// end

// foooter
.final{
   
    background-color: #2d3e50;
    color: white;
    padding: 50px 70px 30px 0;
    margin: 0;
    text-align: center;
    padding-right: 70px;

   

    i{
            width: 50px; 
            height: 50px;
            border-radius: 50%;
            border: 1px white solid;
            background-color:#2d3e50; 
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 2px;
            
           
    }

  

    p{
        font-family:Montserrat-Regular ;
        font-size: 16px;

        span{
            color:rgb(27,188,155);
            font-size: 15px;
           
        }
    }

    h3{
        font-family:Montserrat-Regular ;
        font-weight: bolder;
        padding-bottom: 10px;
        font-size: 22px;
    }
}

// footer
.finish{
    padding: 16px 0;
    text-align: center;
    background-color: #222a33;
    color:white;
    font-size: 12px;
    margin: 0 ;
    margin-left: -70px;
}



@media only screen and (max-width: 578px) {
    .navigation{
        padding: 0 0px 0 35px;
        height: 40px;
      
        p{
            font-size: 13px;    
        }
    
        a{
        display: none;
        }    
      
    }
    
    .banner{
        padding: 30px 0 20px 0;
    
        .line{
            width: 50px;
            border: 1px solid white;    
        }

        .fa-2x {
            font-size: 22px;
        }


        i{
            padding: 0;
        }
        span{
            display: inline-block;
            margin: 5px;  
        }
        .line2{
            width: 50px;
            border: 1px solid white;
            border-radius: 10px;
        }
    
        img{
            height:  20vh;
            margin-bottom: 10px;
        }
    
        
        h1{ 
            font-size: 23px;
            margin-bottom: 8px; 
        }
        p{
            margin-top: 9px;
            font-size: 13px;
          
        }
    
    }


    .content{
   
        padding:  35px 90px;
       
    
        .line{
            width: 50px;
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            display: inline-block;
            margin:0 3px 7px 3px ;
            color: gray;
           
        }
    
        i{
            margin-bottom: 5px;
            padding:0 ;
            
        }

        
        .fa-2x {
            font-size: 22px;
        }
    
        .line1{
            width:50px;
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            display: inline-block;
            margin:0 3px 7px 3px ;
            color: gray;
        
        }
    
        h2{
            padding-bottom: 5px;
            font-size: 17px;
        }
        img{
            width: 100%;
            height: 23vh;
            margin-top: 20px;
            border-radius: 3px;
        }

        
    .img6{
        display: none;
    }
    .img5{
        display: none;
    }
    .img4{
        display: none;
    }
    .img3{
        display: none;
    }
    }

    
    .about{
   
        padding: 45px 50px 32px 50px;
        
    .row{
        margin: 0;
        

        p{
            font-size: 11px;
            margin-bottom: 20px;
        }
    }
   
       .vovo{ 
       
        
        h2{
            padding-bottom: 15px;

        }

    .self{
  
        .fa-2x {
            font-size: 22px;
        }
    
        i{
            padding: 13px 7px 2px 6px;
        }
         .line {
            width: 50px;
            border: 1px solid white;
            
        }
    }
    }
       
    
       
    
    
    
       .bq{
    
         a{
             padding: 10px;
             border-radius: 5px;
             font-size: 10px;
             
    
    
        }
    }
    
}



.dev{
    padding: 0 50px 50px 50px;

    .button {
        margin-left: 8%;
      
     

        a{

            font-family:Montserrat-Regular ;
            text-decoration: none;
            padding: 10px ;
            font-size: 15px;
            color: white;
            background-color:rgb(27,188,155);
            border: none;
            border-radius: 5px;
        }
     } 

.form{
   
    display: flex;
    flex-direction: column;
    width: 230px;
    margin:auto;
     

 
    
  .former{
    padding-bottom:90px 28px ;
  }

    
 }

h2{
    padding-top: 40px;
    font-size: 20px;  
}

.control{
    margin-top: 12px;
   margin-bottom: 10px;


   .fa-2x {
    font-size: 22px;
}

i{
    padding: 13px 7px 2px 6px;
}
   
.line{
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    color:gray; 
   display: flex;
  
}

i{
    padding: 0 7px;
 
}

}

    }

    .final{
   
        background-color: #2d3e50;
        color: white;
        padding:30px 50px;
        
        

    
       
    
        i{
                width: 35px; 
                height: 35px;
                margin:  15px 2px;
                padding: 0;    
        }
    
      
    
        p{
            margin: 0;
            font-size: 12px;
    
            span{
                color:rgb(27,188,155);
                font-size: 12px;
               
            }
        }
    
        h3{
           display: none;
        }
    }
    
    .finish{
        padding: 16px 0;
       margin: auto;
        font-size: 12px;
       
        
    }
}
/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 578px) {

   
    
// .navigation{
//     padding: 0 40px;
//     height: 37px;
//     width: 78.7%;
  

//     p{
//         font-size: 12px;
//     }

//     a{
//       display:none

//     }

   
// }


// .banner{
//     padding:20px 40px;
//     background-color:rgb(27,188,155);
      
   
// .banner-text{
//    display: none;
// }

        
        
   

//     img{
      
//         width: 100%;
//         height:  13vh;
//         margin-bottom: 7px;
     
//     }

    
//     h1{
//         font-size: 18px;
//         margin-bottom: 2px;   
//     }
//     p{
//         font-size: 9px;
//         margin-top: 0;
//         margin-bottom: 0;
//     }

// }


// .content{
   
//     padding:  30px 60px;

//     h2{
//         padding-bottom: 0px;
//         margin-bottom: 0;
       
//     }
//     img{
//         width: 100%;
//         height: 28vh;
//         margin-top: 8px;
//         object-fit: contain;
    
//     }

//     .img6{
//         display: none;
//     }
//     .img5{
//         display: none;
//     }
//     .img4{
//         display: none;
//     }
//     .img3{
//         display: none;
//     }
// }

// .final{
   
//     padding: 23px 0;
//     text-align: center;

   

//     i{
//         display: none;
           
//     }

//     span{
//        color:rgb(27,188,155);
//         font-size: 12px;
//     }

//     p{
//         font-family:Montserrat-Regular ;
//         font-size: 12px;
//         margin-bottom: 5px;
//     }

//     h3{
//         display: none;
//         font-size: 10px;
//     }

// }







//     .dev{
//         padding: 0 41px 40px 41px;
        
//        .button a {
//             margin-left: 0px;
         
//             padding: 10px;
//             font-size: 15px;
        
//         }
       
//     .form{
       
        
//         margin:30px 10px 0px 10px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
    
       
    
//     .form-control{
//         padding: 10px;
//         width: 30px;
//         border-top:none;
//         border-left: none ;
//         border-right: none;
//         border-bottom:1px 1px 2px black;
//         color: #2d3e50;
//     }
//     }
    
//     h2{
//         padding-top: 20px;
//         font-size: 27px;
        
//     }
    
//     .control{
//         margin-top: 5px;
//        margin-bottom: 0px;
    
       
//     .line{
//         width: 35px;
//         border: 2px solid gray;
//         border-radius: 10px;
//         color:gray;
       
//     }
    
    
    
//     }
    
//         }
    

//     .about{
   
//         background-color:rgb(27,188,155);
//         padding: 60px 40px 42px 40px;
//         color: white;
        
//     .row{
//         margin: 0;
//         font-size: 11px;
//     }
   
//        .vovo{ 
       
        
//         h2{
//             padding-bottom: 15px;

//         }

//     .self{
  
    
//         span{
//             width: 54px;
//             border: 2px solid white;
//         }
//     }
//     }
       
    
       
    
    
    
//        .bq{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding-bottom: 20px;
       
    
//          a{
//             font-family:Montserrat-Regular ;
//              background-color:rgb(27,188,155);
//              color: white;
//              text-decoration: none;
//              padding: 10px;
//              border-radius: 10px;
//              border: 1px white solid;
             
    
    
//         }
//     }
    
      
//     }
    
//     .final{
//          padding: 23px 0 15px 0;
//         p{
           
//             font-size: 12px;
//             margin-bottom: 10px;
//         }

//         span{
//             color:rgb(27,188,155);
//             background-color: none;
//         }
//     }
    
    
// }

@media  (min-width: 765px) and (max-width: 991.98px) {

    

.navigation{
    padding: 0 80px 0 110px;
    height: 50px;
  

    p{
        font-size: 13px;
       
      
    }

    a{
        font-size: 11px;
        margin-right: 12px;
    }

    
      
   
}



.banner{
    padding: 60px;
    img{
        height:  20vh;
        margin-bottom: 10px;
    }

    
    h1{
        font-size: 40px;
        margin-bottom: 5px;  
    }

    p{
        margin-top: 10px;
        font-size: 18px;
      
    }

     .line2 {
        width: 80px;
       
    }
    .line {
        width: 65px;
    }

     p {
        margin-top: 10px;
        font-size: 15px;
    }

}



.content{
   
    padding:  40px 124px;
   

    .line{
        width: 65px;
        border: 2px solid black;
        margin:0 3px 9px 3px ;
    }

 

    .line1{
        width: 65px;
        border: 2px solid black;
        margin:0 3px 9px 3px ;
        
    }

    h2{
        padding-bottom: 5px;
        font-weight: bolder;
        font-family:Montserrat-Regular ;
    }
    img{
        height: 14vh;
        object-fit: cover;
    }
}

.dev {
    padding: 0 60px 80px 60px;


    h2{
        font-size: 35px;
    }
     .control .line {
        width: 65px;
    
    }
}

.final{
    padding: 36px 39px 16px 0;


   

    i{
            width: 30px; 
            height: 30px;  
    }

    span{
        font-size: 11px;
    }

    p{
        font-size: 11px;
    }

    h3{
        padding-bottom: 7px;
        font-size: 16px;
    }
}

.finish{
    font-size: 13px;
}

.about{
   
    background-color:rgb(27,188,155);
    padding: 60px 40px 42px 40px;
    color: white;


     .bq a {
        font-size: 13px;
    }
    
.row{
    margin: 0px 100px 5px 100px;
    font-size: 14px;
}

   .vovo{ 
 
    
    h2{
        padding-bottom: 15px;
     
    }
.self{
 

    .line {
        width: 65px;
        border: 2px solid white;
       
    }
}
}
   
}

}

@media  (min-width: 992px) and (max-width: 1024px) {


    

.navigation{
    height: 70px;
  
    a{
        font-size: 17px;
        margin-right: 30px;
    }

    
    

}

.banner{
    padding: 70px;
    
   

    img{
        height:  22vh;
    }

    
    h1{
        font-size: 56px;  
    }

    p{
        margin-top: 15px;
        font-size: 22px;
      
    }

}



.content{
   
    padding:  70px 100px;
   

    .line{
        width: 65px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        display: inline-block;
        margin:0 3px 11px 3px ;
        color: gray;
    }

    

    .line1{
        width: 65px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        display: inline-block;
        margin:0 3px 11px 3px ;
        color: gray;
    }

    h2{
        padding-bottom: 5px;
        font-weight: bolder;
        font-family:Montserrat-Regular ;
    }

    img{
        height: 14vh;
        margin-top: 25px;
    }
}




.about{
   
    background-color:rgb(27,188,155);
    padding: 60px 40px 42px 40px;
    color: white;
    
.row{
    margin: 10px 153px;
}
i{
    padding: 10px;
}
   .bq{
    padding-bottom: 20px;
   

     a{
         padding: 10px;
    }
}

  
}


    .final{
        padding: 50px 72px 25px 30px;
    
        h3{
          
            padding-bottom: 7px;
            font-size: 22px;
        }

        p{
            font-size: 14px;
        }

         i {
            width: 40px;
            height: 40px;
          
        
        }
    }

    .finish {
        padding: 27px 0;

     
    }

}



@media(min-width:1366px){
.overlay { 
    display: none; 
  }

  span{
    display: none; 
  }
}


@media(min-width:768px) and (max-width:991px) {
    .overlay { 
        display: none; 
      }
    
      span{
        display: none; 
      }
    }

    
@media(min-width:992px) and (max-width:1024px) {
    .overlay { 
        display: none; 
      }
    
      span{
        display: none; 
      }
    }