* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(Montserrat-Regular.ttf);
}
body {
  overflow-x: hidden;
}

.navigation.scrolled {
  background-color: #f1f1f1;
  opacity: 0.98;
  color: black;
}

.navigation.scrolled .nav-bar a {
  color: black;
  font-size: 18px;
}

.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 100px 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3e50;
  color: white;
  height: 60px;
  transition: background-color 0.4s ease-in-out;
}
.navigation p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat-Regular";
  align-self: center;
  margin-bottom: 0;
}
.navigation a {
  color: white;
  font-size: 12px;
  margin-right: 30px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat-Regular";
  transition: color 0.4s ease-in-out;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #845EC2;
}
.navigation .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0px;
  top: 0;
  background-color: #435585;
  overflow-x: hidden;
  transition: 0.5s;
}
.navigation span {
  margin: auto;
  margin-right: 35px;
}
.navigation .overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.navigation .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.navigation .overlay a:hover, .navigation .overlay a:focus {
  color: #f1f1f1;
}
.navigation .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.banner {
  padding: 80px 0 70px 0;
  background-color: rgb(27, 188, 155);
}
.banner .banner-text {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .line {
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
}
.banner span {
  display: inline-block;
  margin: 5px;
}
.banner .line2 {
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
}
.banner i {
  color: white;
  margin-bottom: 5px;
  padding: 0 7px;
}
.banner img {
  width: 100%;
  height: 35vh;
  margin-bottom: 15px;
}
.banner h1 {
  font-family: "Montserrat-Regular";
  color: white;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}
.banner p {
  font-family: "Montserrat-Regular";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 24px;
}

.content {
  padding: 70px 100px;
}
.content .line {
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  display: inline-block;
  margin: 0 3px 10px 3px;
  color: gray;
}
.content i {
  margin-bottom: 5px;
  padding: 0 7px;
}
.content .line1 {
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  display: inline-block;
  margin: 0 3px 10px 3px;
  color: gray;
}
.content h2 {
  padding-bottom: 5px;
  font-weight: bolder;
  font-family: "Montserrat-Regular ";
}
.content img {
  width: 100%;
  height: 39vh;
  margin-top: 25px;
  border-radius: 3px;
}

.about {
  background-color: rgb(27, 188, 155);
  padding: 60px 40px 42px 40px;
  color: white;
}
.about .row {
  margin: 0px 340px;
  display: flex;
  justify-content: center;
}
.about .row p {
  margin-bottom: 30px;
}
.about .vovo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .vovo h2 {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Montserrat-Regular ";
}
.about .vovo .self {
  display: flex;
  flex-direction: row;
}
.about .vovo .self i {
  padding: 10px;
  position: relative;
  bottom: 24px;
}
.about .vovo .self .line {
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  height: 0;
  display: flex;
}
.about .bq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.about .bq a {
  font-family: "Montserrat-Regular";
  background-color: rgb(27, 188, 155);
  color: white;
  text-decoration: none;
  padding: 12px 14px;
  border-radius: 5px;
  border: 1px white solid;
}
.about .bq i {
  padding: 0 10px 0 0px;
}

.dev {
  padding: 0 100px 80px 100px;
}
.dev .button {
  text-decoration: none;
  margin-left: 15%;
}
.dev .button a {
  font-family: "Montserrat-Regular";
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color: rgb(27, 188, 155);
  border: none;
  border-radius: 5px;
}
.dev .form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.dev .form .former {
  padding-bottom: 90px 28px;
}
.dev .form .form-control {
  padding: 14px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px 1px 2px black;
  color: #2d3e50;
}
.dev h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-size: 46px;
  margin: 0;
}
.dev .control {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.dev .control .line {
  width: 100px;
  border: 2px solid gray;
  border-radius: 10px;
  color: gray;
  display: flex;
}
.dev .control i {
  padding: 0 7px;
}

.final {
  background-color: #2d3e50;
  color: white;
  padding: 50px 70px 30px 0;
  margin: 0;
  text-align: center;
  padding-right: 70px;
}
.final i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: #2d3e50;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.final p {
  font-family: "Montserrat-Regular";
  font-size: 16px;
}
.final p span {
  color: rgb(27, 188, 155);
  font-size: 15px;
}
.final h3 {
  font-family: "Montserrat-Regular";
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 22px;
}

.finish {
  padding: 16px 0;
  text-align: center;
  background-color: #222a33;
  color: white;
  font-size: 12px;
  margin: 0;
  margin-left: -70px;
}

@media only screen and (max-width: 578px) {
  .navigation {
    padding: 0 0px 0 35px;
    height: 40px;
  }
  .navigation p {
    font-size: 13px;
  }
  .navigation a {
    display: none;
  }
  .banner {
    padding: 30px 0 20px 0;
  }
  .banner .line {
    width: 50px;
    border: 1px solid white;
  }
  .banner .fa-2x {
    font-size: 22px;
  }
  .banner i {
    padding: 0;
  }
  .banner span {
    display: inline-block;
    margin: 5px;
  }
  .banner .line2 {
    width: 50px;
    border: 1px solid white;
    border-radius: 10px;
  }
  .banner img {
    height: 20vh;
    margin-bottom: 10px;
  }
  .banner h1 {
    font-size: 23px;
    margin-bottom: 8px;
  }
  .banner p {
    margin-top: 9px;
    font-size: 13px;
  }
  .content {
    padding: 35px 90px;
  }
  .content .line {
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    display: inline-block;
    margin: 0 3px 7px 3px;
    color: gray;
  }
  .content i {
    margin-bottom: 5px;
    padding: 0;
  }
  .content .fa-2x {
    font-size: 22px;
  }
  .content .line1 {
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    display: inline-block;
    margin: 0 3px 7px 3px;
    color: gray;
  }
  .content h2 {
    padding-bottom: 5px;
    font-size: 17px;
  }
  .content img {
    width: 100%;
    height: 23vh;
    margin-top: 20px;
    border-radius: 3px;
  }
  .content .img6 {
    display: none;
  }
  .content .img5 {
    display: none;
  }
  .content .img4 {
    display: none;
  }
  .content .img3 {
    display: none;
  }
  .about {
    padding: 45px 50px 32px 50px;
  }
  .about .row {
    margin: 0;
  }
  .about .row p {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .about .vovo h2 {
    padding-bottom: 15px;
  }
  .about .vovo .self .fa-2x {
    font-size: 22px;
  }
  .about .vovo .self i {
    padding: 13px 7px 2px 6px;
  }
  .about .vovo .self .line {
    width: 50px;
    border: 1px solid white;
  }
  .about .bq a {
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
  }
  .dev {
    padding: 0 50px 50px 50px;
  }
  .dev .button {
    margin-left: 8%;
  }
  .dev .button a {
    font-family: "Montserrat-Regular";
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(27, 188, 155);
    border: none;
    border-radius: 5px;
  }
  .dev .form {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: auto;
  }
  .dev .form .former {
    padding-bottom: 90px 28px;
  }
  .dev h2 {
    padding-top: 40px;
    font-size: 20px;
  }
  .dev .control {
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .dev .control .fa-2x {
    font-size: 22px;
  }
  .dev .control i {
    padding: 13px 7px 2px 6px;
  }
  .dev .control .line {
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    color: gray;
    display: flex;
  }
  .dev .control i {
    padding: 0 7px;
  }
  .final {
    background-color: #2d3e50;
    color: white;
    padding: 30px 50px;
  }
  .final i {
    width: 35px;
    height: 35px;
    margin: 15px 2px;
    padding: 0;
  }
  .final p {
    margin: 0;
    font-size: 12px;
  }
  .final p span {
    color: rgb(27, 188, 155);
    font-size: 12px;
  }
  .final h3 {
    display: none;
  }
  .finish {
    padding: 16px 0;
    margin: auto;
    font-size: 12px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media (min-width: 765px) and (max-width: 991.98px) {
  .navigation {
    padding: 0 80px 0 110px;
    height: 50px;
  }
  .navigation p {
    font-size: 13px;
  }
  .navigation a {
    font-size: 11px;
    margin-right: 12px;
  }
  .banner {
    padding: 60px;
  }
  .banner img {
    height: 20vh;
    margin-bottom: 10px;
  }
  .banner h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .banner p {
    margin-top: 10px;
    font-size: 18px;
  }
  .banner .line2 {
    width: 80px;
  }
  .banner .line {
    width: 65px;
  }
  .banner p {
    margin-top: 10px;
    font-size: 15px;
  }
  .content {
    padding: 40px 124px;
  }
  .content .line {
    width: 65px;
    border: 2px solid black;
    margin: 0 3px 9px 3px;
  }
  .content .line1 {
    width: 65px;
    border: 2px solid black;
    margin: 0 3px 9px 3px;
  }
  .content h2 {
    padding-bottom: 5px;
    font-weight: bolder;
    font-family: "Montserrat-Regular";
  }
  .content img {
    height: 14vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .dev {
    padding: 0 60px 80px 60px;
  }
  .dev h2 {
    font-size: 35px;
  }
  .dev .control .line {
    width: 65px;
  }
  .final {
    padding: 36px 39px 16px 0;
  }
  .final i {
    width: 30px;
    height: 30px;
  }
  .final span {
    font-size: 11px;
  }
  .final p {
    font-size: 11px;
  }
  .final h3 {
    padding-bottom: 7px;
    font-size: 16px;
  }
  .finish {
    font-size: 13px;
  }
  .about {
    background-color: rgb(27, 188, 155);
    padding: 60px 40px 42px 40px;
    color: white;
  }
  .about .bq a {
    font-size: 13px;
  }
  .about .row {
    margin: 0px 100px 5px 100px;
    font-size: 14px;
  }
  .about .vovo h2 {
    padding-bottom: 15px;
  }
  .about .vovo .self .line {
    width: 65px;
    border: 2px solid white;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .navigation {
    height: 70px;
  }
  .navigation a {
    font-size: 17px;
    margin-right: 30px;
  }
  .banner {
    padding: 70px;
  }
  .banner img {
    height: 22vh;
  }
  .banner h1 {
    font-size: 56px;
  }
  .banner p {
    margin-top: 15px;
    font-size: 22px;
  }
  .content {
    padding: 70px 100px;
  }
  .content .line {
    width: 65px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    display: inline-block;
    margin: 0 3px 11px 3px;
    color: gray;
  }
  .content .line1 {
    width: 65px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    display: inline-block;
    margin: 0 3px 11px 3px;
    color: gray;
  }
  .content h2 {
    padding-bottom: 5px;
    font-weight: bolder;
    font-family: "Montserrat-Regular ";
  }
  .content img {
    height: 14vh;
    margin-top: 25px;
  }
  .about {
    background-color: rgb(27, 188, 155);
    padding: 60px 40px 42px 40px;
    color: white;
  }
  .about .row {
    margin: 10px 153px;
  }
  .about i {
    padding: 10px;
  }
  .about .bq {
    padding-bottom: 20px;
  }
  .about .bq a {
    padding: 10px;
  }
  .final {
    padding: 50px 72px 25px 30px;
  }
  .final h3 {
    padding-bottom: 7px;
    font-size: 22px;
  }
  .final p {
    font-size: 14px;
  }
  .final i {
    width: 40px;
    height: 40px;
  }
  .finish {
    padding: 27px 0;
  }
}
@media (min-width: 1366px) {
  .overlay {
    display: none;
  }
  span {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .overlay {
    display: none;
  }
  span {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .overlay {
    display: none;
  }
  span {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */